{
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "printWidth": 100,
    "overrides": [
        {
            "files": ".prettierrc",
            "options": { "parser": "json" }
        }
    ]
}
